@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex: 1;
}

.menu {
  max-height: calc(100vh - 4.5rem);
}

.conversation {
  max-height: calc(100vh - 11.5rem);
}

div[role="dialog"] > :nth-child(1) {
  max-height: none !important;
  border-radius: 0 !important;
}
